@page "/"
@using ProductBlazorApp.Data
@using ProductBlazorApp.Models
@inject ProductService ProductService


<PageTitle>Home</PageTitle>

<h3>Lista Produktów</h3>



@if (products == null)
{
    <p>Ładowanie...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (products != null && products.Count > 0)
            {
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Description</td>
                        <td>
                            <button class="btn btn-warning">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No items found.</td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/add" class="btn btn-primary">Add new</a>

@code {
    private List<Product>? products;
    
    

    protected override async Task OnInitializedAsync()
    {
        
        products = await ProductService.GetProducts();
    }


}