@page "/"
@using ProductBlazorApp.Data
@using ProductBlazorApp.Models
@using ProductBlazorApp.Components.UI
@inject NavigationManager NavigationManager
@inject ProductService ProductService
@inject ApiService ApiService
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h3>Product List</h3>



@if (products == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (products != null && products.Count > 0)
            {
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Description</td>
                        <td>
                            <button class="btn btn-warning" @onclick="() => EditProduct(product.Id)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => ConfirmDelete(product)">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No items found.</td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/edit" class="btn btn-primary">Add new</a>


<button @onclick="GetPost">Pobierz post</button>
<button @onclick="CreatePost">Utwórz post</button>

@code {
    private async Task GetPost()
    {
        await ApiService.GetPost();
    }

    private async Task CreatePost()
    {
        await ApiService.CreatePost();
    }
}


@if (showDeleteModal)
{
    <ConfirmDeleteModal ProductName="@productToDelete?.Name"
                        OnConfirm="DeleteProductConfirmed"
                        OnCancel="CloseModal" />
}

@code {
    private List<Product>? products;
    private bool showDeleteModal = false;
    private Product? productToDelete;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
    }

    private void EditProduct(int id)
    {
        NavigationManager.NavigateTo($"/edit/{id}");
    }

    private void ConfirmDelete(Product product)
    {
        productToDelete = product;
        showDeleteModal = true;
    }

    private void CloseModal()
    {
        showDeleteModal = false;
        productToDelete = null;
    }

    private async Task DeleteProductConfirmed()
    {
        if (productToDelete != null)
        {
            await ProductService.DeleteProductAsync(productToDelete.Id);
            products = await ProductService.GetProducts(); // Refresh the list
        }
        CloseModal();
    }
}